---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-header.jpg"
>
	<p>
		I'm an IT professional living in Auckland, New Zealand, originally from Russia/Latvia. <br>
		I enjoy building and tinkering with things, coding, fixing old computers, working on cars, various DIY projects such as decks and cabins.
	</p>
</Layout>
