---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Public Apps"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
>
	<p>
		Some web apps I have made that are public <br />
	</p>
	<ul>
		<li>
			Property Listing Helper - find, save and export property info and repayments from realestate.co.nz listings <a
				href="https://listinghelper.appz.co.nz"
				>Listing Helper</a>
		</li>
	</ul>
</Layout>
