---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Public Apps"
	description="Some apps I've made"
	pubDate={new Date("June 26 2026")}
>
	<p>
		Some web apps I have made that are public <br />
	</p>
	<ul>
		<li>
			Property Listing Helper - find, save and export property info and repayments from realestate.co.nz listings <a
				href="https://propertyhelpernz.appvia.net/"
				>Listing Helper</a>
		</li>
	</ul>
</Layout>
