---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Alexey Pavlenko</h1>
			<p>
				<b>Under Construction</b> <br>
				Personal Website/Blog
			</p>
			<ul>
				<li>Technology enthusiast and tinkerer - I enjoy working with things either via code/computer or by hand.</li>
				<li>Currently living in Auckland, New Zealand, working as a Platfrom Engineer with a focus on Cloud/DevOps/Infra.</li>
				<li><a href="https://nz.linkedin.com/in/alexey-pavlenko-8687a373">Linkedin</a></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
